body {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.cell {
    width: 75px;
    height: 75px;
    border: 2px solid black;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    height: 225px;
}